In [1]:
import numpy as np
import pandas as pd

In [2]:
A1 = pd.read_csv('data1.csv',header = 0)
A2 = pd.read_csv('data2.csv',header = 0)
A3 = pd.read_csv('data3.csv',header = 0)
A4 = pd.read_csv('data4.csv',header = 0)
A5 = pd.read_csv('data5.csv',header = 0)
A6 = pd.read_csv('data6.csv',header = 0)
A7 = pd.read_csv('data7.csv',header = 0)
A8 = pd.read_csv('data8.csv',header = 0)
A9 = pd.read_csv('data9.csv',header = 0)
A10 = pd.read_csv('data10.csv',header = 0)
A11 = pd.read_csv('data11.csv',header = 0)
A12 = pd.read_csv('data12.csv',header = 0)
A13 = pd.read_csv('data13.csv',header = 0)
A14 = pd.read_csv('data14.csv',header = 0)
A15 = pd.read_csv('data15.csv',header = 0)

In [3]:
dataframe = pd.concat([A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15],ignore_index = True)

In [4]:
dataframe

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,70.399324,127673.0908,-49.572308,127648.0176,-169.578319,127723.2374,65.689611,605.91099,-57.003571,626.78553,...,0,0,0,0,0,0,0,0,0,Natural
1,73.688102,130280.7109,-46.300719,130255.6377,-166.278082,130355.9307,71.831719,483.59351,-50.947407,500.98896,...,0,0,0,0,0,0,0,0,0,Natural
2,73.733939,130305.7842,-46.254883,130280.7109,-166.232245,130381.0040,71.808800,483.59351,-50.913030,500.98896,...,0,0,0,0,0,0,0,0,0,Natural
3,74.083443,130581.5902,-45.899649,130556.5169,-165.882741,130656.8100,72.152575,482.86107,-50.437475,499.15786,...,0,0,0,0,0,0,0,0,0,Natural
4,74.553268,131083.0556,-45.424094,131057.9823,-165.424375,131158.2754,72.118198,484.50906,-50.013486,497.69298,...,0,0,0,0,0,0,0,0,0,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78372,141.589330,131885.4002,21.606238,131860.3269,-98.382583,131960.6200,143.348311,309.45590,22.156278,315.13231,...,0,0,0,0,0,0,0,0,0,Natural
78373,141.526305,131960.6200,21.566131,131910.4735,-98.439879,132010.7666,143.010266,310.37145,21.915636,315.49853,...,0,0,0,0,0,0,0,0,0,Natural
78374,141.365877,132035.8398,21.394244,131985.6933,-98.611766,132085.9864,141.950294,313.30121,21.245275,317.14652,...,0,0,0,0,0,0,0,0,0,Natural
78375,141.348688,132035.8398,21.371326,131985.6933,-98.617496,132111.0596,141.829973,313.11810,21.193709,317.51274,...,0,0,0,0,0,0,0,0,0,Natural
78376,141.251285,132035.8398,21.291112,132010.7666,-98.720628,132085.9864,141.554953,313.85054,20.958796,317.69585,...,0,0,0,0,0,0,0,0,0,Natural

In [5]:
dataframe.replace([np.inf, -np.inf], np.nan, inplace=True)

In [6]:
dataframe = dataframe.dropna()

In [7]:
labels = dataframe.iloc[:, -1]
labels = labels.where(labels=='Natural', 1)
labels = labels.where(labels==1, 0)

In [11]:
data = dataframe.iloc[:,:-1]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( data, labels, test_size=0.2, random_state=50,shuffle=True)

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)

#Chuẩn hóa dữ liệu
X_train_norm = scaler.transform(X_train)
X_test_norm = scaler.transform(X_test)

In [16]:
#Bước 5: Lưu file
train = np.concatenate((X_train_norm, y_train[:,None]), axis=1)
test = np.concatenate((X_test_norm, y_test[:,None]), axis=1)
train = pd.DataFrame(train)
test = pd.DataFrame(test)
train.columns = dataframe.columns
test.columns = dataframe.columns
train.to_excel("traindata.xlsx", index=None)
test.to_excel("testdata.xlsx", index=None)

<ipython-input-16-bc5a23f867d8>:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  train = np.concatenate((X_train_norm, y_train[:,None]), axis=1)
<ipython-input-16-bc5a23f867d8>:3: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  test = np.concatenate((X_test_norm, y_test[:,None]), axis=1)